# Settings for math eval

benchmark_type: reduced
ground_truth: math_tasks.json
number_of_runs: 1
log_folder: logs
log_file: null
task_filter: null
run_sanity_checks: true
plot_cost_distribution: false

tools: math_tools
# other models: "gpt-3.5-turbo-0125", "gpt-4-turbo-2024-04-09", "gpt-4o-2024-05-13"
model: "gpt-4o-mini-2024-07-18"
embedding_model: "text-embedding-3-large"

tulip_top_k: 5
search_similarity_threshold: null

agents:
    BaseAgent: True
    NaiveToolAgent: True
    CotToolAgent: True
    MinimalTulipAgent: True
    NaiveTulipAgent: True
    CotTulipAgent: True
    InformedCotTulipAgent: True
    PrimedCotTulipAgent: True
    OneShotCotTulipAgent: True
    DfsTulipAgent: False
    AutoTulipAgent: False

colors:
    BaseAgent: "#a6a6a6"
    NaiveToolAgent: "#8cb3d9"
    CotToolAgent: "#6699ff"
    MinimalTulipAgent: "#9999ff"
    NaiveTulipAgent: "#9966ff"
    CotTulipAgent: "#9933ff"
    InformedCotTulipAgent: "#9900ff"
    PrimedCotTulipAgent: "#cc66ff"
    OneShotCotTulipAgent: "#cc33ff"
    DfsTulipAgent: "#cc00ff"
    AutoTulipAgent: "#660066"
